<!DOCTYPE html>
<html>
	<head>
		<title>Flight Itinerary</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
		<script src="/angularjs/angucomplete-alt.min.js"></script>
		<script src="/angularjs/itinerary.js"></script>
	</head>
	<body ng-app="itinerary" ng-controller="validateItinerary">
		<div class="container">
			<div class="row">
				<div class="col-xs-6">
					<label for"source">Select Itinerary Source: </label>
					<angucomplete-alt id="source" placeholder="Search Sources" pause="1000" selected-object="source" local-data="airports" local-search="searchAirports" title-field="iata" description-field="name" minlength="1" input-class="form-control form-control-xsall" match-class="highlight" />
				</div>
				<div class="col-xs-6">
				<label for"destination">Select Itinerary Destination: </label>
					<angucomplete-alt id="destination" placeholder="Search destinations" pause="1000" selected-object="destination" local-data="airports" local-search="searchAirports" title-field="iata" description-field="name" minlength="1" input-class="form-control form-control-xsall" match-class="highlight" />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12" align="center">
					<button class="btn btn-lg btn-primary mybutton" tabindex="3" ng-click="add();">Add Itinerary</button>
				</div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="row alert alert-danger" ng-show="error">
				{{error}}
			</div>
			<div class="row">
				<div class="row">
					<div class="col-xs-5 h2 heading">
						<strong>Itinerary Source</strong>
					</div>
					<div class="col-xs-2 plane-symbol">
							&#9992;
						</div>
					<div class="col-xs-5 h2 heading">
						<strong>Itinerary Destination</strong>
					</div>
				</div>
				<div ng-repeat="itinerary in itineraries">
					<div class="row">
						<div class="col-xs-5 tablerow">
							<strong>{{itinerary.source.title}}</strong>
							<br/>
							{{itinerary.source.description}}
						</div>
						<div class="col-xs-2 plane-symbol">
							&#9992;
						</div>
						<div class="col-xs-5 tablerow">
							<strong>{{itinerary.destination.title}}</strong>
							<br/>
							{{itinerary.destination.description}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
