body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.mybutton {
	margin: 50px;
}

.error {
	text-align: center;
	color: #FF0000;
}

.tablerow {
	border-bottom: 3px solid black;
	border-right: 3px solid black;
}

a {
  color: #00B7FF;
}
